<div class="todo">
	<p>
		<div class="box"></div>
	  <%= @task.title %>
	  <span class="right"><%=link_to "X", task_path(@task.id), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this task?"} %></span>
  </p>
</div>