body{
	background-color: #ddd;
	font-family: sans-serif;
}

h1{
	color:#333;
	margin-bottom: 0px;
}
.todo{
	border-bottom: 1px black solid;
}

.main{
	width:100%;
	margin:0;
}

.container{
	margin: 0 auto;
	width: 400px;
}

.box{
	display:inline;
	margin: 0 20px;
	background-color:#eee;
	width:15px;
	height:15px;
	border:1px solid #333;
	padding:0px 9px;
}

input[type='submit']{
	font-size: 1em;
	border-radius:15px;
	padding: 2px 10px 2px 10px;
	border: 1px #333 solid;
	background-color: #ccc;
	color:#333;
}

input[type='text']{
	font-family:sans-serif;
	font-size:1em;
	width:80%;
}

.tasks-all{
	margin:0;
	border: 1px #333 solid;
	border-radius: 10px;
	background-color:#fff;
	min-height:500px;
}

.right{
	float:right;
	margin-right:20px;
}

a{
	color:#a00;
	text-decoration: none;
}

a:visited{
	color:#a00;
	text-decoration:none;
}

.todo-add{
	padding:10px;
	border-bottom: 1px black solid;
}